
ul{ 
    list-style: none;
}
/* giving the body a dark background to better see the bright colored boxes */
body {
    background-image: url('/static/images/image\ \(3\).png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size:cover;

    /* background-color: black; */

  }

.navbar {
    padding: 0%;
    padding-bottom: 0% ;
    margin-bottom: 0%;
    background: rgb(170, 168, 168);
}

.nav-link {
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Helvetica';
}

.form {
    color: rgb(243, 188, 9);
}

/* .extopnav-right {
    padding-left: 300px;
} */


.card {
    box-sizing: border-box;
    background:transparent;
    font: rgb(241, 239, 239);
    }


.card-text {
    color: white;
}

/* .img-building {
    height: 75 %;
    padding-bottom: 25%;
    padding-top: 25%;
    padding-right: 25%;
    padding-left: 25%;
} */