<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Project 3</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <div>
    <br></br>
    <nav class="navbar navbar-expand-lg">
      <img src="../images/logo.svg" alt="#" href="index.html">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto mb-2 mg-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="#">APPLY TODAY <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">WHAT IS CREDIT?</a>
          </li>


        </ul>
      
      </div>
    </nav>
    <div class="container">

      <div class='row'>
        <div class='col-lg-2'></div>
        <!-- Render our data -->
        <div class='col-lg-8'>
          <form class="form" method=post enctype=multipart/form-data>


            <!-- Returns result from POST request -->
            <!-- <h3>{{ result }}</h3> -->

            <!-- Gender: 0 = Female, 1 = Male -->
            <label for="CODE_GENDER">What is your gender?:</label>
            <select class="form-control" id="CODE_GENDER" required name="CODE_GENDER">
              Select One
              <option value="none" selected disabled hidden></option>
              <option value=1>Male</option>
              <option value=0>Female</option>
            </select>

            <br>

            <!-- Flag_Own_Car:  0 = N, 1 = Y -->
            <label for="FLAG_OWN_CAR">Do you own a vehicle?:</label>
            <select class="form-control" id="FLAG_OWN_CAR" required name="FLAG_OWN_CAR">
              <option value="none" selected disabled hidden></option>
              <option value=1>Yes</option>
              <option value=0>No</option>
            </select>

            <br>

            <!-- Flag_Own_Realty:  0 = N, 1 = Y -->
            <label for="FLAG_OWN_REALTY">Do you own a home / property?:</label>
            <select class="form-control" id="FLAG_OWN_REALTY" required name="FLAG_OWN_REALTY">
              <option value="none" selected disabled hidden></option>
              <option value=1>Yes</option>
              <option value=0>No</option>
            </select>

            <br>

            <!-- Cnt_Children: values 0, 1, 2, 3, 4, 5, 7, 14, 19 -->
            <label for="CNT_CHILDREN">How many children do you have?:</label>
            <select class="form-control" id="CNT_CHILDREN" required name="CNT_CHILDREN">
              <option value="none" selected disabled hidden></option>
              <option value=0>0</option>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5+</option>
            </select>

            <br>

            <!-- Amt_Income_Total: Integer Entry  -->
            <label for="AMT_INCOME_TOTAL">What is your total annual income?:</label>
            <select class="form-control" id="AMT_INCOME_TOTAL" required name="AMT_INCOME_TOTAL">
              <option value="none" selected disabled hidden></option>
              <option value=0>$0 to $50,000</option>
              <option value=61>$50,001 to $75,000</option>
              <option value=139>$75,001 to $100,000</option>
              <option value=206>$100,001 to $150,000</option>
              <option value=221>$150,001 to $200,000</option>
              <option value=264>$200,001+</option>
            </select>

            <br>

            <!-- Name_Education_Type: 0 = Academic degree, 1 = Higher education, 2 = Incomplete higher, 3 = Lower secondary, 4 =  Secondary / secondary special-->
            <label for="NAME_INCOME_TYPE">What is your current working status?:</label>
            <select class="form-control" id="NAME_INCOME_TYPE" required name="NAME_INCOME_TYPE">
              <option value="none" selected disabled hidden></option>
              <option value=4>Worker</option>
              <option value=3>Student</option>
              <option value=0>Commercial associate</option>
              <option value=2>State servant</option>
              <option value=1>Pensioner</option>
            </select>

            <br>

            <!-- Name_Education_Type: 0 = Academic degree, 1 = Higher education, 2 = Incomplete higher, 3 = Lower secondary, 4 =  Secondary / secondary special-->
            <label for="NAME_EDUCATION_TYPE">What is your highest level of completed education:</label>
            <select class="form-control" id="NAME_EDUCATION_TYPE" required name="NAME_EDUCATION_TYPE">
              <option value="none" selected disabled hidden></option>
              <option value=0>Academic Degree</option>
              <option value=1>Higher Education</option>
              <option value=2>Incomplete Higher</option>
              <option value=4>Secondary / Secondary Special</option>
              <option value=3>Lower Secondary</option>
            </select>

            <br>

            <!-- Name_Family_Status: 0 = Civil marriage, 1 = Married, 2 = Separated, 3 = Single / not married, 4 = Widow  -->
            <label for="NAME_FAMILY_STATUS">What is your marital status?:</label>
            <select class="form-control" id="NAME_FAMILY_STATUS" required name="NAME_FAMILY_STATUS">
              <option value="none" selected disabled hidden></option>
              <option value=1>Married</option>
              <option value=3>Single / not married</option>
              <option value=0>Common Law Marriage</option>
              <option value=2>Separated</option>
              <option value=4>Widowed</option>
            </select>

            <br>

            <!-- Name_Housing_Type: 0 = Co-op apartment, 1 = House / apartment, 2 = Municipal apartment, 3 = Office apartment, 4 = Rented apartment, 5 = With parents  -->
            <label for="NAME_HOUSING_TYPE">What is your housing status?:</label>
            <select class="form-control" id="NAME_HOUSING_TYPE" required name="NAME_HOUSING_TYPE">
              <option value="none" selected disabled hidden></option>
              <option value=1>House / apartment</option>
              <option value=0>Co-op apartment</option>
              <option value=4>Rented apartment</option>
              <option value=2>Municipal apartment</option>
              <option value=3>Office apartment</option>
              <option value=5>With parents</option>
            </select>

            <br>

            <!-- Days_Birth: Convert years entered into days -->
            <label for="DAYS_BIRTH">How old are you? :</label>
            <select class="form-control" id="DAYS_BIRTH" required name="DAYS_BIRTH">
              <option value="none" selected disabled hidden></option>
              <option value=207>18 - 29</option>
              <option value=359>30 - 39</option>
              <option value=581>40 - 49</option>
              <option value=851>50 - 59</option>
              <option value=934>60 - 69</option>
              <option value=1100>70+</option>
            </select>

            <br>

            <!-- Days_Employed: Use date entered to calculate days employed -->
            <label for="DAYS_EMPLOYED">How long have you been in your current job? :</label>
            <select class="form-control" id="DAYS_EMPLOYED" required name="DAYS_EMPLOYED">
              <option value="none" selected disabled hidden></option>
              <option value=207>less than 1 Year</option>
              <option value=359>1 - 2 Years</option>
              <option value=581>3 - 5 Years</option>
              <option value=851>6 - 9 Years</option>
              <option value=934>10+ Years</option>
            </select>

            <br>

            <!-- Flag_Mobil: Only value in pandas is 0 -->
            <label for="FLAG_MOBIL">Do you have a cell phone? :</label>
            <select class="form-control" id="FLAG_MOBIL" required name="FLAG_MOBIL">
              <option value="none" selected disabled hidden></option>
              <option value=0>Yes</option>
              <option value=0>No</option>
            </select>

            <br>

            <label for="FLAG_WORK_PHONE">Do you have a work phone? :</label>
            <select class="form-control" id="FLAG_WORK_PHONE" required name="FLAG_WORK_PHONE">
              <option value="none" selected disabled hidden></option>
              <option value=1>Yes</option>
              <option value=0>No</option>
            </select>

            <br>

            <label for="CNT_FAMILY_MEMBERS">How many family members do you have?:</label>
            <select class="form-control" id="CNT_FAMILY_MEMBERS" required name="CNT_FAMILY_MEMBERS">
              <option value="none" selected disabled hidden></option>
              <option value=0>0</option>
              <option value=2>1-2</option>
              <option value=4>3-4</option>
              <option value=5>5+</option>
            </select>

            <br>

            <label for="LATEST_PAYMENT">How many late payments have you made in the 2 years?:</label>
            <select class="form-control" id="LATEST_PAYMENT" required name="LATE_PAYMENT_MONTHS">
              <option value="none" selected disabled hidden></option>
              <option value=0>0</option>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>
            </select>

            <br>

            <input type=submit value=Submit>

          </form>
        </div>
        <div class='col-lg-2'></div>

      </div>
    </div>
</body>

</html>