<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Project 3</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <!-- Render our data -->
      <h1>{{ TEST }}</h1>
      <form method=post enctype=multipart/form-data>

        <!-- Gender: 0 = Female, 1 = Male -->
        <label for="CODE_GENDER">What is your gender?:</label>
        <select class="form-control" id="CODE_GENDER" required name="CODE_GENDER">
          <option value="none" selected disabled hidden></option>
          <option value=1>Male</option>
          <option value=0>Female</option>
        </select>

        <!-- Flag_Own_Car:  0 = N, 1 = Y -->
        <label for="FLAG_OWN_CAR">Do you own a vehicle?:</label>
        <select class="form-control" id="FLAG_OWN_CAR" required name="FLAG_OWN_CAR">
          <option value="none" selected disabled hidden></option>
          <option value=1>Yes</option>
          <option value=0>No</option>
        </select>

        <!-- Flag_Own_Realty:  0 = N, 1 = Y -->
        <label for="FLAG_OWN_REALTY">Do you own a home / property?:</label>
        <select class="form-control" id="exampleFormControlSelect1" required name="FLAG_OWN_REALTY">
          <option value="none" selected disabled hidden></option>
          <option value=1>Yes</option>
          <option value=0>No</option>
        </select>

        <!-- Cnt_Children: values 0, 1, 2, 3, 4, 5, 7, 14, 19 -->
        <label for="cnt_children">How many children do you have?:</label>
        <select class="form-control" id="exampleFormControlSelect1" required name="CNT_CHILDREN">
          <option value="none" selected disabled hidden></option>
          <option value=0>0</option>
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
          <option value=5>5</option>
        </select>

        <!-- Amt_Income_Total: Integer Entry  -->
        <label for="AMT_INCOME_TOTAL">What is your total annual income? :</label>
        <input type="number" id="AMT_INCOME_TOTAL" name="AMT_INCOME_TOTAL"><br>

        <!-- Name_Education_Type: 0 = Academic degree, 1 = Higher education, 2 = Incomplete higher, 3 = Lower secondary, 4 =  Secondary / secondary special-->
        <label for="NAME_INCOME_TYPE">What is your current working status?:</label>
        <select class="form-control" id="exampleFormControlSelect1" required name="NAME_INCOME_TYPE">
          <option value="none" selected disabled hidden></option>
          <option value=0>Commercial associate</option>
          <option value=1>Pensioner</option>
          <option value=2>State servant</option>
          <option value=3>Student</option>
          <option value=4>Working</option>
        </select>

        <!-- Name_Education_Type: 0 = Academic degree, 1 = Higher education, 2 = Incomplete higher, 3 = Lower secondary, 4 =  Secondary / secondary special-->
        <label for="NAME_EDUCATION_TYPE">What is your highest level of completed education:</label>
        <select class="form-control" id="exampleFormControlSelect1" required name="NAME_EDUCATION_TYPE">
          <option value="none" selected disabled hidden></option>
          <option value=0>Academic Degree</option>
          <option value=1>Higher Education</option>
          <option value=2>Incomplete Higher</option>
          <option value=3>Lower Secondary</option>
          <option value=4>Secondary / Secondary Special</option>
        </select>

        <!-- Name_Family_Status: 0 = Civil marriage, 1 = Married, 2 = Separated, 3 = Single / not married, 4 = Widow  -->
        <label for="NAME_FAMILY_STATUS">What is your marrital status?:</label>
        <select class="form-control" id="exampleFormControlSelect1" required name="NAME_FAMILY_STATUS">
          <option value="none" selected disabled hidden></option>
          <option value=0>Common Law Marriage</option>
          <option value=1>Married</option>
          <option value=2>Separated</option>
          <option value=3>Single / not married</option>
          <option value=4>Widowed</option>
        </select>

        <!-- Days_Birth: Convert years entered into days -->
        <label for="">How old are you? :</label>
        <input type="number" id="DAYS_BIRTH" name="DAYS_BIRTH" default=0><br>

        <!-- Days_Employed: Use date entered to calculate days employed -->
        <label for="DAYS_EMPLOYED">Enter the start date of your current employment: </label>
        <input type="number" id="DAYS_EMPLOYED" name="DAYS_EMPLOYED" default=0><br>

        <!-- Flag_Mobil: ### Only value in pandas is 1 ### -->
        <label for="FLAG_MOBIL">Do you have a cell phone? (Yes/No) :</label>
        <input type="number" id="Loan_Amount_Term" name="Loan_Amount_Term" default=0><br>

        <label for="CNT_FAMILY_MEMBERS">How many family members do you have?:</label>
        <select class="form-control" id="exampleFormControlSelect1" required name="CNT_FAMILY_MEMBERS">
          <option value="none" selected disabled hidden></option>
          <option value=0>0</option>
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
          <option value=5>5</option>
        </select>

        <label for="LATE_PAYMENT_MONTHS">How many months have your payments been late in the past year?:</label>
        <select class="form-control" id="exampleFormControlSelect1" required name="LATE_PAYMENT_MONTHS">
          <option value="none" selected disabled hidden></option>
          <option value=0>0</option>
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
          <option value=5>5</option>
        </select>

        <label for="LATEST_PAYMENT">How late was your latest payment?:</label>
        <select class="form-control" id="exampleFormControlSelect1" required name="LATEST_PAYMENT">
          <option value="none" selected disabled hidden></option>
          <option value=0>0</option>
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
          <option value=5>5</option>
        </select>

        <input type=submit value=Submit>
      </form>

      <!-- Returns result from POST request -->
      <h3>{{ result }}</h3>
    </div>



  </div>

</body>

</html>