<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Project 3</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <div>
    <br></br>
    <nav class="navbar navbar-expand-lg">
      <img src="../images/logo.svg" alt="#" href="index.html">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto mb-2 mg-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="form_submission.html">APPLY TODAY <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">WHAT IS CREDIT?</a>
          </li>


        </ul>
      
      </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-8">

          <!-- Home Page Content -->

          <div class="card" style="width: 100%;">
            <div class="card-body">
              <h1 class="card-title text-white">Has Covid got your bank account down?</h1>
              <h6 class="card-subtitle mb-2 text-muted">Apply for the Take Five Card Today!</h6>
              <br></br>
              <p class="card-text">Some quick example about how wonderful this project is that is definitely deserves an
                AAAAAA</p>
              <a class="text-warning" style="padding-right: 40px" class="card-link">Application</a>
              <a class="text-warning" href="#" class="card-link">Improve your Score</a>

            </div>
          </div>


        </div>
        <div class="col-sm-4">
          <img src="../images/building1.png" class="floatRight">
        </div>

</body>

</html>